name: Audit

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  audit:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v5

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: 1.25

    - name: Verify dependencies
      run: go mod Verify
    
    - name: Build
      run: go build -v ./..

    - name: Run go vet
      run: go vet ./..
    
    - name: Install staticcheck
        run: go install honnef.co/go/tools/cmd/staticcheck@latest

    - name: Run staticcheck
      run: staticcheck ./...

    - name: Run Tests
      run: go test -race ./...